html {
    background-color: rgb(240, 248, 255);
    margin: 15px auto;
    width: 55%;
    text-align: center;
    font-size: 48px;
    max-width: 50ch;
}

.header {
    background: #537583;
    padding: 5px;
    border: 8px solid ;
    border-color: #d63737 #002664 #003994 #be1918 ;
    font-size: clamp(1.5vw, 2.3vw, 4vw);
    margin: 5px auto;
    color: rgb(20, 20, 20);
}

span{
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;

}
body {
    background-color: rgb(255, 255, 255);
    margin: 15px auto;
    padding: 10px 20px;
}

/* Article wrapper */
.content {
    max-width: 750px;
    margin: 10px auto;
    padding: 20px;
    background: #ffffff; /* White for contrast */
    border: 1px solid #B0C4DE; /* Light Steel Blue */
    box-shadow: 0 2px 6px rgba(176,196,222,0.4);
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
}

/* Byline under headline */
.byline {
    font-size: 0.6rem;
    color: #708090; /* Slate Gray */
    margin-bottom: 20px;
    font-style: italic;
}

/* Paragraphs */
p {
    margin-top: 0.9rem;
}

/* Images */
img {
    width: 90%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #E6F0FF; /* soft blue edge */
    display: block;
}

/* Pull Quotes */
blockquote {
    font-size: 0.8rem;
    font-style: italic;
    color: #2F4F4F;
    border-left: 4px solid #87CEFA; /* Light Sky Blue */
    background: #F8FCFF;
    padding-left: 15px;
    margin: 2rem 0;
}
